
  

  <script type="text/javascript" src="app/vendor/jquery.min.js"></script>
   
  <script data-main="app/config" src="bower_components/requirejs/require.js"></script>
  
  <script type="text/javascript" src="app/vendor/jquery.timeago.js"></script>
 
