
<head>
  <meta charset="utf-8">
  <title>Test solution for Front-end candidates</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="styles/core.css">
</head>