<!Doctype html>
<html>

<% include header %>

<body>
  <div class="container">
    <h1>FE test solution</h1>
    <h2>Acceptance criteria</h2>
     <ol>
      <li>Fix all console errors.</li>
      <li>When the button that says "Hit it" is clicked the box below must turn and stay green. You must use the observer event pattern.</li>
      <li>Fix "Page loaded module in the second columm. It should display the time since the page was loaded. The assets are in place but they are not working properly" </li>
      <li>When the search button is clicked, there should be a set of results returned underneath it. This is currently broken The result set is mocked in the /public/data folder and uses mockajax so simulate an api call. the mocking calls themselves are working correctly, so any errors and debuggiong needs to be done in the code and templates themselves.</li>
      <li>The page should ultimately resemble what is shown <a href="/img/fixed.png" target="_blank">here</a>: </li>
    </ol>

    <p>Tips: Anything could be wrong with the application. JS logic issues, typos etc. The idea is to test your debugging abilities. </p>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-6">
          <div class="item">
            <h2>When the link below is clicked, the box below it should turn green.</h2>
            <a href="/" class="btn btn-primary js-triggerFlashBox">Hit it!</a>
            <div class="box">
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="item">
            <h2>The below should tell us how long ago the page was loaded.</h2>
            Page loaded <span class="js-loadTime"></span>
          </div>
        </div>
        <div class="item">
          <h2>When the button below is clicked, a mocked set of results should be returned</h2>
          <p>Tip: The data will be mocked with mockjax and will load json from /data/results.json. The data is good and will load correctly with the proxy inside the 'dev' module, so don't fiddle with the .json file. Don't worry about what the results link to. this is just a test. You only need to debug why the results are not showing.</p>
          <button class="btn js-loadResults" data-url="/results-api">Search</button>
          <ul class="results">
            
          </ul>
        </div>
      </div>
      <aside class="col-md-4 aside">
        <h2>Extra tasks if you're up to it. Choose any that take your fancy.</h2>
        <ul>
          <li>Implement some css pre-processing of your choice and get some styling going on the project. Go mad with some animations if you like. Flip headers upside down on hover, spin shit around, whatever. </li>
          <li>Minify and combine the css and javascript. Currently you'll see multiple requests in the page. Try reduce these. A production grunt task would be good. </li>
          <li>Create another page to act as a destination for links from the results. Don't worry about mocking the result, we just need parameters passed through to it server side so that something unique for the clicked item can be displayed. </li>
        </ul>
      </aside>
    </div>


  </div>

<% include footer %>

</body>
</html>