
{{#each trips}}
  <li class="results__item">
    <a href="{{url}}">

          <h3>{{firstName}}</h3>
          <p>
              {{description}}
          </p>
      
          <div class="results__item__price">
              <dl>
                  <dt>Duration:</dt>
                  <dd>{{duration}} days</dd>
              </dl>
              <dl>
                  <dt>From:</dt>
                  <dd>{{price}}pp</dd>
              </dl>
              <dl>
                  <dt>Rating:</dt>
                  <dd>{{rating}}</dd>
              </dl>
          </div>
      </div>
    </a>
  </li>
{{/each}}
